<div>
<h2>{{link-to 'Place an order' 'pizzas.new'}}</h2>
<p>------</p>
	{{#each pizza in model}}
		<h3>Pizza for {{pizza.table}}</h3>
		<h3>{{pizza.size}}</h3>
		<p>{{pizza.topping1}} {{pizza.topping2}}</p>
		<p>{{pizza.topping3}} {{pizza.topping4}}</p>
		<button {{action 'delete' pizza}}>Done!</button>
		
	{{/each}}
</div>